.modal {
  position: fixed;
  top: 5vh;
  left: 25vw;
  width: 40vw;
  justify-content: center;
  align-items: center;
  z-index: 15;
  padding: 1em;
  overflow: scroll;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.2);
}

input,
select {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  appearance: none;
}

input[type="text"],
select {
  border-radius: 8px;
  background-color: var(--bg-color-1);
  color: var(--light-text-color);
  font-size: 1em;
  padding: 0.5em;
  border: 0;
  box-sizing: border-box;
  width: 100%;
}

input[type="submit"] {
  border-radius: 8px;
  border: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: "Inter";
  background-color: var(--change-positive);
}

form p {
  margin-top: 0.5em;
}

.modal form {
  width: 80%;
}
