@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  --strong-text-color: hsl(230, 17%, 14%);
  --light-text-color: hsl(228, 12%, 44%);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.title {
  font-size: 26px;
  color: var(--strong-text-color);
}

.title2 {
  font-size: 24px;
  color: var(--light-text-color);
}

.subtitle {
  font-size: 14px;
  color: var(--light-text-color);
}

.profile-name {
  font-size: 12px;
  color: var(--light-text-color);
}

.spotlight-num {
  font-size: 55px;
  color: var(--strong-text-color);
}

.spaced-caps {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1.8em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.change-text {
  font-size: 12px;
  color: var(--light-text-color);
}
