.mini.card {
  height: 125px;
  justify-content: space-evenly;
}

.main.card {
  height: 220px;
}

.main.card::before {
  position: absolute;
  top: 0;
  content: "";
  height: 8px;
  width: inherit;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.facebook.main.card::before {
  background: hsl(208, 92%, 53%);
}

.twitter.main.card::before {
  background: hsl(203, 89%, 53%);
}

.youtube.main.card::before {
  background: hsl(348, 97%, 39%);
}

.instagram.main.card::before {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
