.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3%;
  background-color: var(--card-background);
  width: 255px;
}

.card:hover {
  background-color: var(--card-background-hover);
}

.mini.card {
  height: 125px;
  justify-content: space-evenly;
}

.card .corner-row {
  width: 80%;
}

.main.card {
  height: 220px;
}

.main.card::before {
  position: absolute;
  top: 0;
  content: "";
  height: 5px;
  width: inherit;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.5s;
}

.facebook.main.card::before {
  background: hsl(208, 92%, 53%);
}

.twitter.main.card::before {
  background: hsl(203, 89%, 53%);
}

.youtube.main.card::before {
  background: hsl(348, 97%, 39%);
}

.instagram.main.card::before {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
