@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0;
}

.title {
  font-size: 26px;
  color: var(--strong-text-color);
  margin-bottom: 7px;
}

.title2 {
  font-size: 24px;
  color: var(--light-text-color);
}

.subtitle {
  font-size: 14px;
  color: var(--light-text-color);
}

.profile-name {
  font-size: 12px;
  color: var(--light-text-color);
}

.spotlight-num {
  font-size: 55px;
  color: var(--strong-text-color);
}

.spotlight-num2 {
  font-size: 32px;
  color: var(--strong-text-color);
}

.spaced-caps {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.8em;
  margin-left: 0.8em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.change-text {
  font-size: 12px;
  color: var(--light-text-color);
}
