.grid-container {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 20px 30px;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: max-content max-content max-content;
  }
}

@media screen and (max-width: 850px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 625px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}