body {
  margin: 0;
}

.app-background {
  position: fixed;
  overflow-y: scroll;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -10;
  background: var(--bg-color-1);
  display: flex;
  justify-content: center;
}

*:not(.slider, body),
*::before {
  transition: 0.5s;
}

.app-background::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background-color: var(--bg-color-2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: -1;
}

@media screen and (max-width: 625px) {
  .App {
    width: 320px;
  }
  .card.main,
  .card.mini {
    width: 320px;
  }
}

@media screen and (min-width: 625px) {
  .App {
    width: 525px;
  }
}

@media screen and (min-width: 850px) {
  .App {
    width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    width: 1100px;
  }
}
